@model google_sheet_api_service.Models.DiaryTitle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiaryTitle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diaryTitleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diaryTitleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diaryTitleKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diaryTitleKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
