@model google_sheet_api_service.Models.BuildingLevelSize

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BuildingLevelSize</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="buildingName" class="control-label"></label>
                <input asp-for="buildingName" class="form-control" />
                <span asp-validation-for="buildingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buildingLevel" class="control-label"></label>
                <input asp-for="buildingLevel" class="form-control" />
                <span asp-validation-for="buildingLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="islandGid" class="control-label"></label>
                <input asp-for="islandGid" class="form-control" />
                <span asp-validation-for="islandGid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buildingGid" class="control-label"></label>
                <input asp-for="buildingGid" class="form-control" />
                <span asp-validation-for="buildingGid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkAnim" class="control-label"></label>
                <input asp-for="checkAnim" class="form-control" />
                <span asp-validation-for="checkAnim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="levelUpAnim" class="control-label"></label>
                <input asp-for="levelUpAnim" class="form-control" />
                <span asp-validation-for="levelUpAnim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buildingSize" class="control-label"></label>
                <input asp-for="buildingSize" class="form-control" />
                <span asp-validation-for="buildingSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
